<style>
   #hero-img {
       margin-top: 10px;
   }

</style>


<div class="jumbotron jumbotron-fluid text-center" id='hero-img'>
    <div class="container">
        <h1 class="display-4">Password Manager</h1>
        <p class="lead">A simple password manager</p>
      </div>
</div>

<a name="login_btn" id="login_btn" class="btn btn-success" href="/login" role="button">Login</a>
<a name="register_btn" id="register_btn" class="btn btn-primary" href="/register" role="button">Register</a>